@model Mvc.Models.Gallery.ViewModels.ImageViewModel
@{
    ViewData["Title"] = "Galería";
}

@section Styles {
    <link href="~/css/gallery.css" rel="stylesheet" asp-append-version="true">
}

<div class="container gallery pt-2">
    <div class="text-center wow animate__fadeInLeft" data-wow-delay="0.2s">
            <h1 class="font-dancing-script text-primary">Galería</h1>
            <h1 class="">Explore Nuestra Galería</h1>
    </div>
    
    <!-- Filter start -->
    <div class="accordion mb-2">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseOne">
                        Filtros
                </button>
            </h2>
            <div id="collapseFilter" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row mb-2">
                        <div class="col">
                                <span class="form-label fw-bold">Género</span><br />

                            <span class="badge text-bg-primary filter-gender">Ambos</span>
                            <span class="badge text-bg-secondary filter-gender">Mujer</span>
                            <span class="badge text-bg-secondary filter-gender">Hombre</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            @*Hair type checkboxes such as "peinado"*@
                            <span class="form-label fw-bold">Peinados</span><br />

                            @foreach (HairstyleCheckboxVm hairstyleCheckbox in Model.HairStyles)
                            {
                                string label = char.ToUpper(hairstyleCheckbox.Style[0]) + hairstyleCheckbox.Style[1..].ToLower();

                                <span class="badge text-bg-secondary filter-hairstyle">@label</span>
                            }
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            @*Hair color checkboxes*@
                            <span class="form-label fw-bold">Colores</span><br />

                            @for (int i = 0; i < Model.HairColors.Count; i++)
                            {
                                string label = char.ToUpper(Model.HairColors[i].Color[0]) + Model.HairColors[i].Color[1..].ToLower();
                            
                                <span class="badge text-bg-secondary filter-hair-color">@label</span>
                            }
                        </div>
                    </div>
                    @*Admin Upload Image Start*@
                    <div class="row justify-content-center">
                        @using Microsoft.AspNetCore.Identity
                        @using Mvc.Models.Gallery.ViewModels
                        @inject SignInManager<User> SignInManager
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                        <button type="button" class="btn btn-primary w-auto" data-bs-toggle="modal" data-bs-target="#upload-image-modal">
                            Upload Image
                        </button>
                        <div class="modal fade" id="upload-image-modal" tabindex="-1" aria-labelledby="upload-image-modal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Subir Imagen</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Gallery" method="post" id="upload-image-form">
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col">
                                                        <label asp-for="Image" class="form-label fw-bold">Imagen</label>
                                                        <span asp-validation-for="Image" class="text-danger"></span>
                                                        <input asp-for="Image" type="file" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col">
                                                        <span class="form-label fw-bold">Género</span>
                                                        <span asp-validation-for="Gender" class="text-danger"></span><br />

                                                        <input asp-for="Gender" id="female" class="form-check-input" name="Gender" type="radio" value="F" checked />
                                                        <label for="female" class="form-check-label">Female</label>
                                                        <input asp-for="Gender" id="male" class="form-check-input" name="Gender" type="radio" value="M" />
                                                        <label for="male" class="form-check-label">Male</label>
                                                    </div>
                                                </div>
                    
                                                @{
                                                var hairstyleCheckboxClassAttribute = new Dictionary<string, object>() { { "class", "form-check-input gallery-hairstyle-checkbox" } };
                                                var hairColorCheckboxClassAttribute = new Dictionary<string, object>() { { "class", "form-check-input gallery-haircolor-checkbox" } };
                                                var labelClassAttribute = new Dictionary<string, object>() { { "class", "form-check-label" } };
                                                }
                                                <div class="row mb-2">
                                                    <div class="col">
                                                        @*Hair type checkboxes such as "peinado"*@
                                                        <span class="form-label fw-bold">Peinados</span>
                            
                                                        @*asp-validation-for won't easily work with jQuery client-side validation since multiple checkboxes are generated, custom js is used.*@
                                                        <span asp-validation-for="HairStyles" id="hairstyle-error" class="text-danger"></span><br />
                            
                                                        <div class="row">
                                                            @for (int i = 0; i < Model.HairStyles.Count; i++)
                                                            {
                                                            string label = char.ToUpper(Model.HairStyles[i].Style[0]) + Model.HairStyles[i].Style[1..].ToLower();

                                                            <div class="col-md-4">
                                                                @Html.CheckBoxFor(model => model.HairStyles[i].IsChecked, hairstyleCheckboxClassAttribute)
                                                                @Html.LabelFor(model => model.HairStyles[i].IsChecked, label, labelClassAttribute)
                                                                <input asp-for="HairStyles[i].Style" type="hidden" />
                                                            </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col">
                                                        @*Hair color checkboxes*@
                                                        <span class="form-label fw-bold">Colores</span>
                            
                                                        @*asp-validation-for won't easily work with jQuery client-side validation since multiple checkboxes are generated, custom js is used.*@
                                                        <span asp-validation-for="HairColors" id="hair-color-error" class="text-danger"></span><br />
                            
                                                        <div class="row">
                                                            @for (int i = 0; i < Model.HairColors.Count; i++)
                                                            {
                                                            string label = char.ToUpper(Model.HairColors[i].Color[0]) + Model.HairColors[i].Color[1..].ToLower();
                            
                                                            <div class="col-md-4">
                                                                @Html.CheckBoxFor(model => model.HairColors[i].IsChecked, hairColorCheckboxClassAttribute)
                                                                @Html.LabelFor(model => model.HairColors[i].IsChecked, label, labelClassAttribute)
                                                                <input asp-for="HairColors[i].Color" type="hidden" />
                                                            </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label asp-for="Description" class="form-label fw-bold"></label>
                                                        <span asp-validation-for="Description" class="text-danger"></span><br />
                                                        <input asp-for="Description" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    @*Admin Upload Image End*@
                </div>
            </div>
        </div>
    </div>
    <!-- Filter end -->
    
    <!-- Gallery Start -->
    <div id="gallery-spinner" class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Images populated with AJAX in gallery.js -->
    <div class="row g-2" id="gallery"></div>
    <!-- Gallery End -->
</div>

<script>
    @*Used to determine if the delete image button is shown per image.*@
    const isAdminUser = @((SignInManager.IsSignedIn(User) && User.IsInRole("Admin")).ToString().ToLower());
    const adminDeleteImageUrl = "@Url.Action("Delete", "Gallery", new { area = "Admin" })";
</script>

@section Gallery
{
    <script src="~/lib/jquery.imagesloaded/imagesloaded.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/lib/masonry/masonry.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/js/gallery/gallery.js" asp-append-version="true"></script>
    <script src="~/js/validation/gallery-checkbox-validation.js" asp-append-version="true"></script>
}
