@{
    string? controller = ViewContext.RouteData.Values["controller"]?.ToString();
    string? action = ViewContext.RouteData.Values["action"]?.ToString();
    string? area = ViewContext.RouteData.Values["area"]?.ToString();
}

<!-- Navbar Start -->
<div class="container-fluid bg-light p-0">
    <nav class="navbar navbar-expand-xl navbar-light p-0">
        <a href="/" class="navbar-brand bg-primary py-4 px-5 me-0">
            <h1 class="mb-0 text-center"><i class="bi bi-scissors"></i>Salon Lluvia</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a asp-controller="Home" asp-action="Index" class="nav-item nav-link @(controller == "Home" && action == "Index" ? "active" : null)">Home</a>

                <a asp-controller="Home" asp-action="Gallery" class="nav-item nav-link @(controller == "Home" && action == "Gallery" ? "active" : null)">Gallery</a>

                <a asp-controller="Home" asp-action="Service" class="nav-item nav-link @(controller == "Home" && action == "Service" ? "active" : null)">Service</a>

                <a asp-controller="Home" asp-action="Pricing" class="nav-item nav-link @(controller == "Home" && action == "Pricing" ? "active" : null)">Price</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu bg-light mt-2" id="navbar-dropdown-menu">
                        @if (area == "Admin")
                        {
                            <a asp-controller="Appointment" asp-action="List" class="dropdown-item @(controller == "Appointment" && action == "List" ? "active" : null)">List of Appointments</a>
                            <a asp-controller="Client" asp-action="List" class="dropdown-item @(controller == "Client" && action == "List" ? "active" : null)">List of clients</a>
                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="About" class="dropdown-item @(controller == "Home" && action == "About" ? "active" : null)">About</a>

                            <a asp-controller="Home" asp-action="Team" class="dropdown-item @(controller == "Home" && action == "Team" ? "active" : null)">Our Team</a>

                            <a asp-controller="Home" asp-action="Testimonial" class="dropdown-item @(controller == "Home" && action == "Testimonial" ? "active" : null)">Testimonial</a>
                        }
                    </div>
                </div>

                <a asp-controller="Home" asp-action="Appointment" class="nav-item nav-link text-uppercase @(controller == "Home" && action == "Appointment" ? "active" : null)">Cita</a>
            </div>
            <div class="d-flex align-items-center">
                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<User> SignInManager
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-controller="Account" asp-action="LogOut" asp-area="">
                        <button type="submit" class="btn btn-primary btn-sm-square me-3 p-1" style="width: auto">Log Out</button>
                    </form>
                }
                <a class="btn btn-primary btn-sm-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-sm-square me-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->