@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "List";
}

<div class="container">
    <div class="row text-center">
        <h1 class="col">List of Appointments</h1>
    </div>

    <div class="table-responsive-md">
        <table class="table table-striped-columns table-bordered">
            <thead>
                <tr class="table-info">
                    <th class="sticky-top">
                        @Html.DisplayNameFor(model => model.Client.Name)
                    </th>
                    <th class="sticky-top">
                        @Html.DisplayNameFor(model => model.Client.PhoneNumber)
                    </th>
                    <th class="sticky-top">
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th class="sticky-top">
                        @Html.DisplayNameFor(model => model.DesiredService)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Appointment appointment in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Appointments" asp-controller="Client" asp-route-id="@appointment.ClientId">
                                @Html.DisplayFor(modelItem => appointment.Client.Name)<br>
                                ID: @Html.DisplayFor(modelItem => appointment.ClientId)
                            </a>
                        </td>
                        <td>
                            <i class="bi bi-telephone"></i>
                            <a href="tel:@appointment.Client.PhoneNumber" class="fw-bold">
                                @Html.DisplayFor(modelItem => appointment.Client.PhoneNumber)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => appointment.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => appointment.DesiredService)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@appointment.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@appointment.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>