<!-- Navbar Start -->
<div class="container-fluid bg-light p-0">
    <nav class="navbar navbar-expand-xl navbar-light p-0">
        <a href="/" class="navbar-brand bg-primary py-4 px-5 me-0">
            <h1 class="mb-0 text-center"><i class="bi bi-scissors"></i>Salon Lluvia</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-3" id="navbarCollapse">
            @{
                string? url;
                Predicate<string?> requestPathStartsWithUrl = url => Context.Request.Path.StartsWithSegments(url);
            }
            <div class="navbar-nav mx-auto">
                @{
                    url = Url.Action("Index", "Home"); // generates "/" since default route
                }
                <a href="@url" class="nav-item nav-link @((Context.Request.Path == url
                                                                                          || Context.Request.Path == "/Home/Index"
                                                                                          || Context.Request.Path == "/Home"
                                                                                          || Context.Request.Path == "/Home/")
                                                                                           ? "active" : null)">
                    Home
                </a>

                @{
                    url = Url.Action("Gallery", "Home");
                }
                <a href="@url" class="nav-item nav-link @(requestPathStartsWithUrl(url) ? "active" : null)">Gallery</a>

                @{
                    url = Url.Action("Service", "Home");
                }
                <a href="@url" class="nav-item nav-link @(requestPathStartsWithUrl(url) ? "active" : null)">Service</a>

                @{
                    url = Url.Action("Pricing", "Home");
                }
                <a href="@url" class="nav-item nav-link @(requestPathStartsWithUrl(url) ? "active" : null)">Price</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu bg-light mt-2" id="navbar-dropdown-menu">
                        @{
                            // two segments needed since default admin area route specified in Program.cs routes to list of appointments
                            string shortAppointmentsUrl = "/Admin";
                            string? qualifiedAppointmentsUrl = Url.Action("List", "Appointment");
                        }
                        <a href="@qualifiedAppointmentsUrl" 
                           class="dropdown-item @((requestPathStartsWithUrl(shortAppointmentsUrl) 
                                                && requestPathStartsWithUrl(qualifiedAppointmentsUrl)) ? "active" : null)">
                           List of Appointments
                       </a>

                        @{
                            url = Url.Action("List", "Client");
                        }
                        <a href="@url" class="dropdown-item @(requestPathStartsWithUrl(url) ? "active" : null)">List of clients</a>

                        @{
                            url = Url.Action("Testimonial", "Home");
                        }
                        <a href="@url" class="dropdown-item @(requestPathStartsWithUrl(url) ? "active" : null)">Testimonial</a>
                    </div>
                </div>

                @{
                    url = Url.Action("Appointment", "Home");
                }
                <a href="@url" class="nav-item nav-link text-uppercase @(requestPathStartsWithUrl(url) ? "active" : null)">Cita</a>
            </div>
            <div class="d-flex">
                <a class="btn btn-primary btn-sm-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-sm-square me-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->